{% assign team_roles = "pi,phd,msc,ra" | split: "," %}

{% for team_role in team_roles %}
  {% assign people = site.members | where: "role", team_role %}
  {% for person in people %}
    {% unless person.group == "alum" %}
      <div class="portrait-wrapper">
        <a
          href="{{ person.url | relative_url }}"
          class="portrait"
          aria-label="{{ person.name | default: "member link" }}"
        >
          <img
            src="{{ person.image | relative_url }}"
            class="portrait-image"
            alt="Portrait of {{ person.name }}"
            loading="lazy"
            {% include fallback.html %}
          >

          <span class="portrait-text">
            <span class="portrait-name">{{ person.name }}</span>
            <span class="portrait-role">
              {% assign role_type = site.data.types[person.role] %}
              {% include icon.html icon=role_type.icon %}
              <span>{{ person.description | default: role_type.description }}</span>
            </span>
          </span>
        </a>
      </div>
    {% endunless %}
  {% endfor %}
{% endfor %}
